In [3]:
import os
import sys

import urllib.request
# from zipfile import ZipFile

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl

mpl.rcParams.update( mpl.rcParamsDefault )

In [4]:
weather_data_df = pd.read_csv('../sets/weather-data-ba.csv')

In [7]:
weather_data_df.describe()

,LATITUDE,LONGITUDE,ELEVATION,PRCP,TAVG,TMAX,TMIN
count,1.613000e+03,1.613000e+03,1613.0,356.000000,1613.000000,791.000000,1331.000000
mean,-3.455900e+01,-5.841600e+01,5.5,7.920225,18.632424,23.365740,14.811270
std,7.107631e-15,1.421526e-14,0.0,16.342953,5.202943,5.608872,5.269532
min,-3.455900e+01,-5.841600e+01,5.5,0.000000,5.900000,9.000000,2.200000
25%,-3.455900e+01,-5.841600e+01,5.5,0.000000,14.400000,19.000000,10.900000
50%,-3.455900e+01,-5.841600e+01,5.5,0.300000,18.900000,23.500000,14.800000
75%,-3.455900e+01,-5.841600e+01,5.5,7.900000,22.700000,27.800000,19.000000
max,-3.455900e+01,-5.841600e+01,5.5,112.000000,30.400000,37.500000,27.500000

In [5]:
weather_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1613 entries, 0 to 1612
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATION          1613 non-null   object
 1   NAME             1613 non-null   object
 2   LATITUDE         1613 non-null   float64
 3   LONGITUDE        1613 non-null   float64
 4   ELEVATION        1613 non-null   float64
 5   DATE             1613 non-null   object
 6   PRCP             356 non-null    float64
 7   PRCP_ATTRIBUTES  356 non-null    object
 8   TAVG             1613 non-null   float64
 9   TAVG_ATTRIBUTES  1613 non-null   object
 10  TMAX             791 non-null    float64
 11  TMAX_ATTRIBUTES  791 non-null    object
 12  TMIN             1331 non-null   float64
 13  TMIN_ATTRIBUTES  1331 non-null   object
dtypes: float64(7), object(7)
memory usage: 176.5+ KB

In [8]:
weather_data_df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,ARM00087582,"AEROPARQUE JORGE NEWBERY, AR",-34.559,-58.416,5.5,2017-01-01,0.0,",,S",30.3,"H,,S",NaN,NaN,27.5,",,S"
1,ARM00087582,"AEROPARQUE JORGE NEWBERY, AR",-34.559,-58.416,5.5,2017-01-02,NaN,NaN,25.6,"H,,S",34.0,",,S",NaN,NaN
2,ARM00087582,"AEROPARQUE JORGE NEWBERY, AR",-34.559,-58.416,5.5,2017-01-03,NaN,NaN,26.2,"H,,S",28.4,",,S",NaN,NaN
3,ARM00087582,"AEROPARQUE JORGE NEWBERY, AR",-34.559,-58.416,5.5,2017-01-04,NaN,NaN,26.2,"H,,S",NaN,NaN,22.3,",,S"
4,ARM00087582,"AEROPARQUE JORGE NEWBERY, AR",-34.559,-58.416,5.5,2017-01-05,NaN,NaN,25.1,"H,,S",30.8,",,S",19.7,",,S"

In [9]:
weather_data_df.tail()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
1608,ARM00087582,"AEROPARQUE JORGE NEWBERY, AR",-34.559,-58.416,5.5,2021-05-30,NaN,NaN,10.7,"H,,S",NaN,NaN,6.4,",,S"
1609,ARM00087582,"AEROPARQUE JORGE NEWBERY, AR",-34.559,-58.416,5.5,2021-05-31,NaN,NaN,14.4,"H,,S",NaN,NaN,7.0,",,S"
1610,ARM00087582,"AEROPARQUE JORGE NEWBERY, AR",-34.559,-58.416,5.5,2021-06-01,0.0,",,S",16.3,"H,,S",20.3,",,S",10.9,",,S"
1611,ARM00087582,"AEROPARQUE JORGE NEWBERY, AR",-34.559,-58.416,5.5,2021-06-02,0.0,",,S",14.6,"H,,S",18.3,",,S",12.0,",,S"
1612,ARM00087582,"AEROPARQUE JORGE NEWBERY, AR",-34.559,-58.416,5.5,2021-06-03,NaN,NaN,12.6,"H,,S",17.6,",,S",8.6,",,S"

In [ ]:
formato = '%Y%m%d'
bicis_recorridos_2021_df['start datetime'] = pd.to_datetime(
    weather_data_df['Date'], 
    format = formato
)