<a href="https://colab.research.google.com/github/ioadeer/bi-bycing-ba-2021/blob/main/Estacion_Godoy_Cruz_demanda_y_temp_2020_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importar de Google drive

In [ ]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth

from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
import os
import sys

import urllib.request
# from zipfile import ZipFile

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
%matplotlib inline

mpl.rcParams.update( mpl.rcParamsDefault )

In [ ]:
!pip install tpot
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import Normalizer
from tpot.export_utils import set_param_recursive

Collecting tpot
  Downloading https://files.pythonhosted.org/packages/b2/55/a7185198f554ea19758e5ac4641f100c94cba4585e738e2e48e3c40a0b7f/TPOT-0.11.7-py3-none-any.whl (87kB)
     |████████████████████████████████| 92kB 6.3MB/s
Collecting stopit>=1.1.1
  Downloading https://files.pythonhosted.org/packages/35/58/e8bb0b0fb05baf07bbac1450c447d753da65f9701f551dca79823ce15d50/stopit-1.1.2.tar.gz
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from tpot) (1.0.1)
Collecting deap>=1.2
  Downloading https://files.pythonhosted.org/packages/99/d1/803c7a387d8a7e6866160b1541307f88d534da4291572fb32f69d2548afb/deap-1.3.1-cp37-cp37m-manylinux2010_x86_64.whl (157kB)
     |████████████████████████████████| 163kB 34.8MB/s
Requirement already satisfied: tqdm>=4.36.1 in /usr/local/lib/python3.7/dist-packages (from tpot) (4.41.1)
Collecting update-checker>=0.16
  Downloading https://files.pythonhosted.org/packages/0c/ba/8dd7fa5f0b1c6a8ac62f8f57f7e794160c1f86f31c6d0fb00f582372a3e4/update_checker-0.18.0-py3-none-any.whl
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from tpot) (1.1.5)
Requirement already satisfied: scipy>=1.3.1 in /usr/local/lib/python3.7/dist-packages (from tpot) (1.4.1)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from tpot) (0.22.2.post1)
Collecting xgboost>=1.1.0
  Downloading https://files.pythonhosted.org/packages/bb/35/169eec194bf1f9ef52ed670f5032ef2abaf6ed285cfadcb4b6026b800fc9/xgboost-1.4.2-py3-none-manylinux2010_x86_64.whl (166.7MB)
     |████████████████████████████████| 166.7MB 37kB/s
Requirement already satisfied: numpy>=1.16.3 in /usr/local/lib/python3.7/dist-packages (from tpot) (1.19.5)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from update-checker>=0.16->tpot) (2.23.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->tpot) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->tpot) (2018.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->tpot) (1.15.0)
Building wheels for collected packages: stopit
  Building wheel for stopit (setup.py) ... done
  Created wheel for stopit: filename=stopit-1.1.2-cp37-none-any.whl size=11954 sha256=6823a2bb1880df7243b926ee76f306c694dc5f82678cdb9870c0661a11cf814b
  Stored in directory: /root/.cache/pip/wheels/3c/85/2b/2580190404636bfc63e8de3dff629c03bb795021e1983a6cc7
Successfully built stopit
Installing collected packages: stopit, deap, update-checker, xgboost, tpot
  Found existing installation: xgboost 0.90
    Uninstalling xgboost-0.90:
      Successfully uninstalled xgboost-0.90
Successfully installed deap-1.3.1 stopit-1.1.2 tpot-0.11.7 update-checker-0.18.0 xgboost-1.4.2

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [51]:
'''
https://drive.google.com/file/d/1Hcmdmw49Jtg9V8ipBiohJBKHdSmdiG_c/view?usp=sharing
'''
id = '1Hcmdmw49Jtg9V8ipBiohJBKHdSmdiG_c'
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('clima_datohorario_2020_2021.csv') 
clima_por_hora_df = pd.read_csv('clima_datohorario_2020_2021.csv')
clima_por_hora_df.head()

    DD       FECHA  FF  HORA   HUM     PNM  TEMP
0  140  2020-01-01  17     0  83.0  1011.3  22.0
1  140  2020-01-01  13     1  83.0  1011.4  21.9
2  160  2020-01-01  13     2  72.0  1011.4  22.0
3  180  2020-01-01   7     3  81.0  1011.5  21.8
4  180  2020-01-01  11     4  87.0  1011.8  20.9

In [52]:
clima_por_hora_df

        DD       FECHA  FF  HORA   HUM     PNM  TEMP
0      140  2020-01-01  17     0  83.0  1011.3  22.0
1      140  2020-01-01  13     1  83.0  1011.4  21.9
2      160  2020-01-01  13     2  72.0  1011.4  22.0
3      180  2020-01-01   7     3  81.0  1011.5  21.8
4      180  2020-01-01  11     4  87.0  1011.8  20.9
...    ...         ...  ..   ...   ...     ...   ...
13077   20  2021-06-30  15    19  82.0  1024.9   9.4
13078  360  2021-06-30  24    20  75.0  1025.2   9.8
13079  340  2021-06-30  17    21  80.0  1025.1   9.9
13080  340  2021-06-30  17    22  82.0  1025.0   9.6
13081  340  2021-06-30  20    23  82.0  1025.1   9.1

[13082 rows x 7 columns]

In [54]:
clima_por_hora_df['date'] = pd.to_datetime(clima_por_hora_df['FECHA'], format = '%Y-%m-%d')
clima_por_hora_df['date_time'] = clima_por_hora_df['date'] + pd.to_timedelta(clima_por_hora_df['HORA'], unit='h')
clima_por_hora_df['date_time'] = clima_por_hora_df['date_time'].dt.strftime('%Y-%m-%d %H')
clima_por_hora_df

        DD       FECHA  FF  HORA   HUM     PNM  TEMP       date      date_time
0      140  2020-01-01  17     0  83.0  1011.3  22.0 2020-01-01  2020-01-01 00
1      140  2020-01-01  13     1  83.0  1011.4  21.9 2020-01-01  2020-01-01 01
2      160  2020-01-01  13     2  72.0  1011.4  22.0 2020-01-01  2020-01-01 02
3      180  2020-01-01   7     3  81.0  1011.5  21.8 2020-01-01  2020-01-01 03
4      180  2020-01-01  11     4  87.0  1011.8  20.9 2020-01-01  2020-01-01 04
...    ...         ...  ..   ...   ...     ...   ...        ...            ...
13077   20  2021-06-30  15    19  82.0  1024.9   9.4 2021-06-30  2021-06-30 19
13078  360  2021-06-30  24    20  75.0  1025.2   9.8 2021-06-30  2021-06-30 20
13079  340  2021-06-30  17    21  80.0  1025.1   9.9 2021-06-30  2021-06-30 21
13080  340  2021-06-30  17    22  82.0  1025.0   9.6 2021-06-30  2021-06-30 22
13081  340  2021-06-30  20    23  82.0  1025.1   9.1 2021-06-30  2021-06-30 23

[13082 rows x 9 columns]

In [ ]:
'''
https://drive.google.com/file/d/1xBT1nl0Om1uRydkgtiyPeLQxbzB4FsR0/view?usp=sharing
'''
id = '1xBT1nl0Om1uRydkgtiyPeLQxbzB4FsR0'
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('estacion-godoy-cruz-count-2020-2021-07-06-2021.csv.csv') 
godoy_cruz_estacion_df = pd.read_csv('estacion-godoy-cruz-count-2020-2021-07-06-2021.csv.csv')
godoy_cruz_estacion_df

      Unnamed: 0     START DATE  count  ...  dia_habil  PRCP  TAVG
0              0  2020-01-01 02      3  ...          1   0.0  22.8
1              3  2020-01-01 04      2  ...          1   0.0  22.8
2              5  2020-01-01 06      1  ...          1   0.0  22.8
3              6  2020-01-01 07      2  ...          1   0.0  22.8
4              8  2020-01-01 11      2  ...          1   0.0  22.8
...          ...            ...    ...  ...        ...   ...   ...
7562       47608  2021-06-02 11      1  ...          1   0.0  14.6
7563       47609  2021-06-02 12      2  ...          1   0.0  14.6
7564       47611  2021-06-02 13      7  ...          1   0.0  14.6
7565       47618  2021-06-02 14      1  ...          1   0.0  14.6
7566       47619  2021-06-02 15     10  ...          1   0.0  14.6

[7567 rows x 13 columns]

##Test de csv de recorridos 2020-2021

Informacion agregada:
- Working day
- Temperatura

In [ ]:

formato = '%Y%m%d %H'
godoy_cruz_estacion_df['date'] = pd.to_datetime(
    godoy_cruz_estacion_df['START DATE'], 
    format = formato
)
godoy_cruz_estacion_df['date'] = godoy_cruz_estacion_df['date'].dt.strftime('%Y-%m-%d')
godoy_cruz_estacion_df

      Unnamed: 0     START DATE  count  anio  ...  dia_habil  PRCP  TAVG        date
0              0  2020-01-01 02      3  2020  ...          1   0.0  22.8  2020-01-01
1              3  2020-01-01 04      2  2020  ...          1   0.0  22.8  2020-01-01
2              5  2020-01-01 06      1  2020  ...          1   0.0  22.8  2020-01-01
3              6  2020-01-01 07      2  2020  ...          1   0.0  22.8  2020-01-01
4              8  2020-01-01 11      2  2020  ...          1   0.0  22.8  2020-01-01
...          ...            ...    ...   ...  ...        ...   ...   ...         ...
7562       47608  2021-06-02 11      1  2021  ...          1   0.0  14.6  2021-06-02
7563       47609  2021-06-02 12      2  2021  ...          1   0.0  14.6  2021-06-02
7564       47611  2021-06-02 13      7  2021  ...          1   0.0  14.6  2021-06-02
7565       47618  2021-06-02 14      1  2021  ...          1   0.0  14.6  2021-06-02
7566       47619  2021-06-02 15     10  2021  ...          1   0.0  14.6  2021-06-02

[7567 rows x 14 columns]

In [57]:
#godoy_cruz_estacion_df = godoy_cruz_estacion_df.drop(columns=['Unnamed: 0'], axis=1)
godoy_cruz_estacion_df

         START DATE  count  anio  nmes  ...  dia_habil  PRCP  TAVG        date
0     2020-01-01 02      3  2020     1  ...          1   0.0  22.8  2020-01-01
1     2020-01-01 04      2  2020     1  ...          1   0.0  22.8  2020-01-01
2     2020-01-01 06      1  2020     1  ...          1   0.0  22.8  2020-01-01
3     2020-01-01 07      2  2020     1  ...          1   0.0  22.8  2020-01-01
4     2020-01-01 11      2  2020     1  ...          1   0.0  22.8  2020-01-01
...             ...    ...   ...   ...  ...        ...   ...   ...         ...
7562  2021-06-02 11      1  2021     6  ...          1   0.0  14.6  2021-06-02
7563  2021-06-02 12      2  2021     6  ...          1   0.0  14.6  2021-06-02
7564  2021-06-02 13      7  2021     6  ...          1   0.0  14.6  2021-06-02
7565  2021-06-02 14      1  2021     6  ...          1   0.0  14.6  2021-06-02
7566  2021-06-02 15     10  2021     6  ...          1   0.0  14.6  2021-06-02

[7567 rows x 13 columns]

In [62]:
result = pd.merge(godoy_cruz_estacion_df, clima_por_hora_df, how="inner", on=["START DATE"])
result

         START DATE  count  anio  nmes  ...   HUM     PNM  TEMP     date_y
0     2020-01-01 02      3  2020     1  ...  72.0  1011.4  22.0 2020-01-01
1     2020-01-01 04      2  2020     1  ...  87.0  1011.8  20.9 2020-01-01
2     2020-01-01 06      1  2020     1  ...  87.0  1012.1  20.5 2020-01-01
3     2020-01-01 07      2  2020     1  ...  85.0  1013.0  20.4 2020-01-01
4     2020-01-01 11      2  2020     1  ...  63.0  1014.4  24.0 2020-01-01
...             ...    ...   ...   ...  ...   ...     ...   ...        ...
7524  2021-06-02 11      1  2021     6  ...  73.0  1015.0  14.6 2021-06-02
7525  2021-06-02 12      2  2021     6  ...  65.0  1015.3  14.7 2021-06-02
7526  2021-06-02 13      7  2021     6  ...  56.0  1015.3  15.7 2021-06-02
7527  2021-06-02 14      1  2021     6  ...  42.0  1013.7  17.5 2021-06-02
7528  2021-06-02 15     10  2021     6  ...  40.0  1014.8  17.0 2021-06-02

[7529 rows x 21 columns]

In [61]:
clima_por_hora_df = clima_por_hora_df.rename(columns={'date_time':'START DATE'})
clima_por_hora_df

        DD       FECHA  FF  HORA   HUM     PNM  TEMP       date     START DATE
0      140  2020-01-01  17     0  83.0  1011.3  22.0 2020-01-01  2020-01-01 00
1      140  2020-01-01  13     1  83.0  1011.4  21.9 2020-01-01  2020-01-01 01
2      160  2020-01-01  13     2  72.0  1011.4  22.0 2020-01-01  2020-01-01 02
3      180  2020-01-01   7     3  81.0  1011.5  21.8 2020-01-01  2020-01-01 03
4      180  2020-01-01  11     4  87.0  1011.8  20.9 2020-01-01  2020-01-01 04
...    ...         ...  ..   ...   ...     ...   ...        ...            ...
13077   20  2021-06-30  15    19  82.0  1024.9   9.4 2021-06-30  2021-06-30 19
13078  360  2021-06-30  24    20  75.0  1025.2   9.8 2021-06-30  2021-06-30 20
13079  340  2021-06-30  17    21  80.0  1025.1   9.9 2021-06-30  2021-06-30 21
13080  340  2021-06-30  17    22  82.0  1025.0   9.6 2021-06-30  2021-06-30 22
13081  340  2021-06-30  20    23  82.0  1025.1   9.1 2021-06-30  2021-06-30 23

[13082 rows x 9 columns]

In [63]:
result_filtered_df = result.drop(columns=['START DATE', 'id_estacion_origen','nombre_estacion_origen', 'PRCP', 'TAVG', 'date_x','FECHA', 'date_y'], axis=1)
result_filtered_df

      count  anio  nmes  ndia  wdia  hora  ...   DD  FF HORA   HUM     PNM  TEMP
0         3  2020     1     1     3     2  ...  160  13    2  72.0  1011.4  22.0
1         2  2020     1     1     3     4  ...  180  11    4  87.0  1011.8  20.9
2         1  2020     1     1     3     6  ...  180  15    6  87.0  1012.1  20.5
3         2  2020     1     1     3     7  ...  160  15    7  85.0  1013.0  20.4
4         2  2020     1     1     3    11  ...  140  17   11  63.0  1014.4  24.0
...     ...   ...   ...   ...   ...   ...  ...  ...  ..  ...   ...     ...   ...
7524      1  2021     6   153     3    11  ...  200  13   11  73.0  1015.0  14.6
7525      2  2021     6   153     3    12  ...  180  15   12  65.0  1015.3  14.7
7526      7  2021     6   153     3    13  ...  200   9   13  56.0  1015.3  15.7
7527      1  2021     6   153     3    14  ...  230  11   14  42.0  1013.7  17.5
7528     10  2021     6   153     3    15  ...  200   9   15  40.0  1014.8  17.0

[7529 rows x 13 columns]

In [1]:
result_filtered_df

NameError: ignored

In [64]:
from google.colab import drive
drive.mount('/drive')
result_filtered_df.to_csv('/drive/My Drive/Datasets-bicing/estacion-godoy-cruz-count-2020-2021-07-08-2021.csv')

Mounted at /drive